<import href="modules/my-other-actions.js"></import>
<import href="modules/engine/mouse.js"></import>



    <h1>House</h1>
    
   <p>A nice house for you with 4 rooms.</p>
    
    <p data-event='click' data-action='destroyParent import' data-value='components/maps/room1.htm'><span>Go To Room 1</span></p>
    <p data-event='click' data-action='destroyParent import' data-value='components/maps/room1.htm'><span>Go To Room 2</span></p>
    <p data-event='click' data-action='destroyParent import' data-value='components/maps/room1.htm'><span>Go To Room 3</span></p>
    <p data-event='click' data-action='destroyParent import' data-value='components/maps/room1.htm'><span>Go To Room 4</span></p>
