
    <h1>Room 1</h1>

    <p>This room is small. A bookshelf on the left and a red mattress.</p>

     <b>A strange papyrus resides on the bookshelf:</b>

     <p data-event='click' data-action='insertItem remove'><span>Cryptic Message</span></p>
    
    
    <p data-event='click' data-action='destroyParent import' data-value='components/maps/house.htm'><span>Go Back to House</span></p>
