<import href="modules/engine/inventory.js"></import>
<import href="modules/my-inventory-actions.js"></import>
<import href="modules/engine/mouse.js"></import>


<div>
    
    <table class='inventory'>
        <theader>
            <th>Inventory</th>
        </theader>
        <tbody id='bag'>
            <tr>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
            </tr><tr>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
                <td data-event='click' data-action='takeItem'><span>empty</span></td>
            </tr>
        </tbody>
    </table>
    
    
    
    <table class='inventory'>
        <theader>
            <th>Your Hand</th>

        </theader>
        <tbody>
            <tr>
                <td id='hand' data-event='click' data-action='putItem'><span>empty</span></td>
            </tr>
        </tbody>
    </table>



</div>